


/* GENERAL STYLES */


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #eaeaf4;
}

:root {
    --darkcolor: #2b2e35;
    --turquoise: #8fd2d3;
    --blue: #3b4e6b;
    --bigfont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --smallfont:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: var(--smallfont);
    color: var(--blue);
}

h1, h2, h3, h4 {   
    font-size: 100%;
    font-family: var(--bigfont);
}

h1, h2 {
    color: var(--darkcolor);
}

main, footer {
    background-color: #eaeaf4;
}

h3 {
    opacity: 0.9;
    padding: 0px 16px;
    text-align: end;
    width: 280px;
    border-right: 4px solid var(--blue);
    color: var(--blue);
    font-size: 46px;
}




/* HEADER STYLES */


header {
    padding: 8px 0px 16px 0px;
    background-color: var(--darkcolor);
    color: #ffffff;
}

header h1 {
    letter-spacing: -0.5px;
    padding: 6px 16px 5px 60px;
    background-color: var(--turquoise);
    display: inline-block;
    font-size: 46px;
    opacity: 0.9;
}

header nav {
    background-color: var(--darkcolor);
    margin-top: 16px;
    margin-right: 60px;
    float: right;
    font-family: var(--bigfont);
    font-size: 20px;
}

header ul {
    background-color: var(--darkcolor);
    list-style-type: none;
    margin-right: 32px;
}

header li {
    background-color: var(--darkcolor);
    letter-spacing: 0.5px;
    padding: 3px 7px;
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 4px;
    color: var(--turquoise);
    opacity: 0.9;
}

header a {
    background-color: var(--darkcolor);
    color: var(--turquoise);
    text-decoration: none;
}

#background-image {
    width: auto;
    height: 180px;
    background-size: 102%;
    background-image: url(https://github.com/Chaosgale/portfolio/blob/main/assets/images/bluewood.jpeg?raw=true);
}

h2 {
    position: relative;
    top: 55%; left: 70%;
    letter-spacing: -0.5px;
    padding: 8px 10px;
    background-color: var(--turquoise);
    display: inline-block;
    font-size: 32px;
    opacity: 0.8;
}





/* MAIN STYLES */


main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#About p {
    padding: 0px 0px 24px 40px;
    width: 876px;
    opacity: 0.7;
}

#main-div {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

#Big {
    background-image: url(https://github.com/Chaosgale/portfolio/blob/main/assets/images/CSS.png?raw=true);
    background-position: 0% 4%;
    margin-bottom: 13px;
    border: 4px solid var(--turquoise);
    width: 836px;
    height: 372px;
    
}

#Big div {
    width: fit-content;
    padding: 9px;
    background-color: var(--turquoise);
    position: relative;
    top: 279px;
}

#Big:hover {
    box-shadow: inset 0px 0px 20px #14f3f3;
    color: #14f3f3;
    transition: all 0.5s ease-in-out;
}


.Small {
    margin-bottom: 13px;
    border: 4px solid var(--turquoise);
    width: 411px;
    height: 140px;
}

.small-in-box {
    width: fit-content;
    padding: 9px;
    background-color: var(--turquoise);
    position: relative;
    top: 47px;
}

.Small:hover {
    box-shadow: inset 0px 0px 20px #14f3f3;
    color: #14f3f3;
    transition: all 0.5s ease-in-out;
}


#LED {
    background-image: url(https://github.com/Chaosgale/portfolio/blob/main/assets/images/LED.png?raw=true);
    background-position: 4% 4%;
}

#Calculator {
    background-image: url(https://github.com/Chaosgale/portfolio/blob/main/assets/images/Calculator.jpeg?raw=true);
    background-size: 100%;
    position: absolute;
    top: 921px; left: 745px;

}

#Puzzle {
    background-image: url(https://github.com/Chaosgale/portfolio/blob/main/assets/images/puzzle.jpeg?raw=true);
    background-size: 100%;
}

#Run {
    background-image: url(https://github.com/Chaosgale/portfolio/blob/main/assets/images/RUN.png?raw=true);
    background-size: 150%;
    position: absolute;
    top: 1074px; left: 745px;
}


h4 {
    margin-bottom: 6px;
    background-color: var(--turquoise);
    font-size: 24px;
    color: #414444;
}

div p {
    background-color: var(--turquoise);
    font-size: 13px;
    color: #6d7071;
}





/* FOOTER STYLES */


footer {
    margin-bottom: 40px;
}

footer ul {
    padding-left: 40px;
    list-style-type: none;
}

footer li {
    opacity: 0.9;
    display: inline-block;
    font-size: 18px;
    margin-right: 34px;
    margin-top: 40px;
    margin-left: 22px;
    padding: 3px 7px;
    font-family: var(--bigfont);
    letter-spacing: 0.5px;
    border-bottom: 4px solid;
    color: var(--blue);
}







/* MEDIA QUERIES */


@media screen and (min-width: 1536px) {
    header h1 {
        margin-left: 100px;
    }

    header nav {
        margin-right: 150px;
    }

    #Calculator, #Run {
        margin-left: 100px;
    }

    main, footer {
        margin-left: 100px;
    }
}


@media screen and (min-width: 1736px) {
    header h1 {
        margin-left: 200px;
    }

    header nav {
        margin-right: 250px;
    }

    #Calculator, #Run {
        margin-left: 200px;
    }

    main, footer {
        margin-left: 200px;
    }
}


@media screen and (max-width: 1210px) {
    #Big {
        width: 411px;
    }

    #Run {
        position: initial;
    }

    #Calculator {
        position: initial;
    }

    header  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav {
        margin-left: 50px;
        margin-right: 0px;
    }

    #About p {
        width: 411px;
    }

    h2 {
        position: relative;
        top: 50%; left: 50%;
    }

    footer ul {
        width: 489px;
        margin-bottom: 50px;
    }

}


@media screen and (max-width: 768px) {

    #Big {
        width: 411px;
    }

    #Run {
        position: initial;
    }

    #Calculator {
        position: initial;
    }

    #About p {
        padding: 0px 60px 0px 88px;
        width: auto;
        display: inline-block;
    }

    h3 {
        margin-bottom: 40px;
        display: flex;
        width: auto;
        border: initial;
    }

    main, section, footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer ul {
        margin-left: 10px;
    }

    header  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav {
        margin-left: 50px;
        margin-right: 0px;
    }

    h2 {
        position: relative;
        top: 50%; left: 40%;
    }




}

